experiment

*/_depr
*/*/_depr
*/*/*/_depr 
*/*/*/*/_depr

data/raw_data/
*.gif
synthetic_trace.Rds

figures

diana*

*.tar.gz
*.zip
*.txt
*.png
.DS_Store
.vscode/

data/
results/simulation*
results/stationary

results/study*/tmp*
results/study*/trajectory*

*/dynamic_filter.*
*/*/*dynamic_filter.*

*with bin*

paper/
