experiment

*/_depr
*/*/_depr
*/*/*/_depr 
*/*/*/*/_depr

data/raw_data/
*.gif
synthetic_trace.Rds

figures

diana*

*.tar.gz
*.zip
*.txt
*.png
.DS_Store
.vscode/

results/synthetic/conditions.Rds
results/synthetic/data_list.Rds
results/synthetic/data_files.csv
results/synthetic/preprocessed_original.csv
